  <% if (!user) { %>
    <script defer src="https://accounts.google.com/gsi/client"></script>
  <% } %>
</head>
<body>
  <nav>
    <div class="left">
      <a href="/"><img src="/FDR logo 4.png" alt="logo" style="width:40px"></a>
      <% if (user) { %>
        <a href="/queens/new">New Queen</a>
        <a href="/events/new">New Event</a>
      <% } %>
    </div>
    <div class="right">
    <% if (user) { %>
      <p>Hello, <%= user.profile.name %></p>
      <p>
        <img
        src="<%= user.profile.avatar %>"
        alt="<%= user.profile.name %> avatar"
        style="width:30px"
        />
      </p>
      <a href="/auth/logout">
        <button type="submit">Logout</button>
      </a>
    <% } else { %>
      <p>Hello, Stranger</p>
      <div 
        id="g_id_onload"
        data-client_id="<%= googleClientID %>"
        data-login_uri="/auth/google"
        data-auto_prompt="false"
      ></div>
      <div 
        class="g_id_signin right"
        data-type="standard"
        data-size="large"
        data-theme="outline"
        data-text="sign_in_with"
        data-shape="rectangular"
        data-logo_alignment="left"
      ></div>
    <% } %>
    </div>
  </nav>
