.eliminated {
  color: red;
}

.queen-card {
  width: 250px;
  /* border: rgba(0, 0, 0, 0.5) solid 1px; */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  padding: 5px;
  box-shadow: 0 0 16px black;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}

img {
  max-width: 95%;
  border-radius: 50%;
  align-self: center;
}

#user-team {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}