.queen-card {
  width: 250px;
  border: rgba(0, 0, 0, 0.5) solid 1px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  gap: 8px;
  padding: 5px;
  box-shadow: 0 0 16px black;
  background-color: #590056;
  border-radius: 4px;
  color: #e08cbc;
}

#name {
  font-size: 32px;
  text-align: center;
}

.queen-card p {
  margin: 0;
}

img {
  max-width: 95%;
  border-radius: 50%;
  align-self: center;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#team-column {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  align-content: center;
  height: 100%;
  min-width: fit-content;
}

#team-column > * {
  text-align: center;
}

#queen-card-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-self: center;
  gap: 16px;
  max-width: 85%;
  margin-bottom: 16px;
}

#all-queens {
  align-self: center;
}

.eliminated {
  background: rgb(117, 0, 0)
}

.eliminated button {
  background-color: rgb(117, 0, 0);
}

#delete-queen {
  background-color: inherit;
  border: none;
}

#bench {
  background-color: inherit;
  border: none;
  color: #590056;
}

#current-team {
  /* position: absolute; */
  top: 24px;
  left: 8px;
  margin: 16px;
  font-size: 16px;
}

main {
  flex-direction: row;
  align-content: flex-start;
}

#current-team img {
  width: 68px;
}

#current-team div {
  font-size: 10px;
  display: flex;
  align-items: center;
  margin: 6px 0;
  gap: 4px;
  min-width: fit-content;
}

#recruit-queen {
  align-self: center;
  justify-self: flex-end;
}
