.eliminated {
  color: red;
}

.queen-card {
  width: 250px;
  border: black solid 1px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  padding: 5px;
  box-shadow: 0 0 10px;
}

img {
  max-width: 95%;
  border-radius: 50%;
  align-self: center;
}

#queen-card-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}