html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
  font-family: 'Rowdies', cursive;
}

body {
  background-color: #e08cbc;
  color: #590056;
  /* Use a system font, if none are available use any found sans-sarif font */
  font-family: system-ui, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 
    'Helvetica Neue', sans-serif;
  margin: 0;
  overflow: auto;
}

nav {
  background-image: linear-gradient(#590056 70%, #e08cbc);
  color: #e08cbc;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 60px;
  height: 60px;
  width: 100%;
}

nav > * {
  margin: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

input {
  /* all: unset; */
  box-shadow: none;
  border: none;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 4px black;
  color: #e08cbc;
}

.left {
  gap: 16px;
}

.center h1 {
  font-size: 40px;
}

.right {
  gap: 16px;
  display: flex;
  justify-content: flex-end;
  margin: 10px;
}


button {
  all: unset;
  cursor: pointer;
}

main button {
  all: unset;
  border: 1px solid black;
  border-radius: 3px;
  padding: 3px 5px;
  background-color: #590056;
  color: #e08cbc;
}

main a {
  all: unset;
  border-radius: 3px;
  padding: 3px 5px;
  background-color: inherit;
  color: #e08cbc;
}

main a:hover {
  cursor: pointer;
}

nav * {
  text-decoration: none;
  color: inherit;
  font-weight: 700;
}

img {
  max-width: 95%;
  border-radius: 50%;
  align-self: center;
}

button :hover,
a :hover {
  cursor: pointer;
}