html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

body {
  background-color: #e08cbc;
  color: #f6f6f6;
  /* Use a system font, if none are available use any found sans-sarif font */
  font-family: system-ui, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 
    'Helvetica Neue', sans-serif;
  margin: 0;
}

nav {
  background-image: linear-gradient(black 70%, #e08cbc);
  color: #e08cbc;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 60px;
  height: 60px;
}

nav > * {
  margin: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

input {
  all: unset;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 4px black;
  color: #e08cbc;
}

.left {
  justify-self: flex-start;
}

.right {
  /* margin-left: auto; */
  justify-self: flex-end;
}

button {
  all: unset;
}

nav * {
  text-decoration: none;
  color: inherit;
  font-weight: 700;
}