<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <form action="/queens" method="POST">
    <label>Name:
      <input type="text" name="name" autocomplete="off">
    </label>
    <label>Hometown:
      <input type="text" name="hometown" autocomplete="off">
    </label>
    <button type="submit">ADD</button>
  </form>
</main>

<%- include('../partials/footer') %>
